@import "../colors.scss";
@import "../variables.scss";

html,
body,
main {
  background-color: $black-1d !important;
  min-height: 100vh;
}

main,
#sidebar_first {
  padding-top: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  color: $white;
}

.navbar {
  display: flex;
  background-color: $black-18 !important;

  @include up-md {
    display: none;
  }
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: $white-ef;

  @include up-md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;
    position: relative;
    left: -0.75rem;
    top: -0.5rem;
    width: calc(100% + 1.5rem);
    padding: 1rem 0;
  }


}

.navbar-brand:hover {
  color: $white-be;
}

#sidebar_first {
  display: flex;
  background-color: $black-18;
  min-height: 100vh;
  width: 175px;
  padding-right: 0.75rem !important;

  @include down-md {
    display: none;
  }
}

.main-content {
  width: 100vw;
}

.nav-item {
  .nav-link {
    color: $white-ef !important;
    transform: translateX(0);
    transition: transform 250ms ease;
    background-color: $black-18;
    text-transform: uppercase;
  }
}

.nav-item:hover {
  .nav-link {
    background-color: $black-20;
    transform: translateX(20px);
    transition: transform 250ms ease;
    color: $nav-link !important;
  }
}



#block-portfolio-sidebarmenu {
  ul {
    li {
      border-bottom: 2px solid $black-20;
      width: 100%;
    }

    li:last-of-type {
      border-bottom: 2px solid transparent;
    }

    li:hover {
      background-color: $black-20;
      transition-duration: background-color 250ms ease;
    }
  }
}