@import "../colors.scss";
@import "../variables.scss";

html,
body,
main {
  background-color: $bgGlobal !important;
  min-height: 100vh;
}

main,
#sidebar_first {
  padding-top: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  color: $white;
}

.navbar {
  display: flex;
  background-color: $bgGlobal !important;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: $white-ef;
}

.navbar-brand:hover {
  color: $bgGlobal;
}

.main-content {
  width: 100vw;
}

.nav-item {
  .nav-link {
    color: $nav-link !important;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 250ms ease;
  }
}

.nav-item:hover {
  .nav-link {
    transition: opacity 250ms ease;
    opacity: 0.8;
  }
}